@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes prFull90 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes prFull80 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes prFull70 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes prFull60 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes prFull50 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}